datareplication/src/main/mule/datareplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="datareplication.xapi" doc:id="5d00ae48-5379-4962-af5b-5e27afb0fa3b" >
		<scheduler doc:name="Scheduler" doc:id="418b04d8-2983-46b5-9e07-f484522b1d92" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="inputData" doc:id="b87f5bf9-9abb-49e1-aa9c-90b1d07ec05d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="datareplication.papi" doc:id="1b34ef40-9e7e-4080-aef5-3c7d015bcb17" name="datareplication.papi"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e59f5b0d-6ae4-4b49-866a-b57c97256308" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="69690d89-9e74-4fab-a809-1d09bf055ae2" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.papi" doc:id="96d05138-181b-4c2d-837c-ad62967c577b" >
		<flow-ref doc:name="datareplication.sapi" doc:id="ee6f21aa-779b-48b4-bfde-dd7404dcdb44" name="datareplication.sapi"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b9d5a80e-298b-4216-b23f-140ccbc99273" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="0a6ce090-2bb3-4aee-a498-74f8f8085873" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.sapi" doc:id="9b8ed9b3-8435-4dcf-9e74-b32af91d06da" initialState="started">
		<ee:transform doc:name="MULTI VARIBLE - Set finalMessage varible and Counter Varible and unsucessful Counter" doc:id="aa5e5e7e-887f-4822-bdd9-f396e63e3788">
				<ee:message>
				</ee:message>
			<ee:variables >
				<ee:set-variable variableName="counter" ><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
				<ee:set-variable variableName="finalMessage" ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "STATUS OF INSERTIONS BELOW"
}]]></ee:set-variable>
				<ee:set-variable variableName="unsuccessfulCounter" ><![CDATA[%dw 2.0
output application/java
---
0]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
		<foreach doc:name="For Each" doc:id="c6d2f8f9-02aa-4758-8953-be8331e4884e" collection='#[vars.inputData."case"]' counterVariableName="forEachCounter">
				<try doc:name="Try" doc:id="8ab77b85-1d4f-46de-9796-6b86dcada162">
				<choice doc:name="Choice" doc:id="27af84ff-a2ff-426f-9624-4144bbcab828">
					<when expression='#[vars.inputData."case".country[vars.counter] == "CAN"]'>
						<db:bulk-insert doc:name="Insert CAN Data" doc:id="f137fa45-67ed-4b0f-9f4c-d896632969e5">
								<db:bulk-input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:bulk-input-parameters>
								<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
							</db:bulk-insert>
						<ee:transform doc:name="Return Success" doc:id="3abca23e-b63b-4142-bef8-4e4cdb4cb12d">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "CAN Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
							</ee:message>
							<ee:variables />
						</ee:transform>
						<ee:transform doc:name="Concat payloads" doc:id="078b28e4-4293-4b8f-a05f-e0d4ac7e9215">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="finalMessage"><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<when expression='#[vars.inputData."case".country[vars.counter]== "AUS"]'>
						<db:insert doc:name="Insert AUS Data" doc:id="7f7fdfdd-faa6-46fb-ab38-9f9771144a98">
							<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
							<db:input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:input-parameters>
						</db:insert>
						<ee:transform doc:name="Return Success" doc:id="e5100ff8-7fd0-46b0-bb05-c3cd65dab323">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "AUS Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
							</ee:message>
							<ee:variables />
						</ee:transform>
						<ee:transform doc:name="Concat payloads" doc:id="56b28b5a-829a-44c2-a899-60368ae7e9a9">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="finalMessage"><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<when expression='#[vars.inputData."case".country[vars.counter] == "USA"]' >
						
						
						
						<db:bulk-insert doc:name="Insert USA Data" doc:id="031978f3-0ad5-4d84-98b9-81add037d45d">
							<db:bulk-input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:bulk-input-parameters>
							<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
						</db:bulk-insert>
						<ee:transform doc:name="Return Success" doc:id="9fe6725a-b495-43f8-8256-e1b0f568fcae">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "USA Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
							</ee:message>
							<ee:variables />
						</ee:transform>
						<ee:transform doc:name="Concat payloads" doc:id="ae83378c-744e-4ca1-8752-f95e28831d1e">
							<ee:message />
							<ee:variables>
								<ee:set-variable variableName="finalMessage"><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
						<ee:transform doc:name="Add unsuccessful inseration" doc:id="c4f10c46-f497-4d91-aa0d-f1778b9378a8" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    STATUS:	"Unsuccessfully Inserted Entry " ++ vars.counter
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="#[vars.unsuccessfulCounter + 1]" doc:name="Increment unsuccessfulCounter" doc:id="e36de03f-2f7c-44c1-8933-b26f5b372ca5" variableName="unsuccessfulCounter" />
						<ee:transform doc:name="Concat payloads" doc:id="0e36293d-9c64-4ac2-a9f9-3f491fed96a6" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="finalMessage" ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
				<error-handler>
					<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="bf6d64af-356e-4d65-99c7-21d5cb7c4ef0">
						<logger level="ERROR" doc:name="Logger" doc:id="ed6247ff-4d70-4945-b28c-62c47d0f6c02" message='#["Error connecting to database"]' />
						<ee:transform doc:name="Add unsuccessful inseration" doc:id="08c6888c-4053-448d-8ec8-e52472f913de">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    STATUS:	"Unsuccessfully Inserted Entry " ++ vars.counter
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<set-variable value="#[vars.unsuccessfulCounter + 1]" doc:name="Increment unsuccessfulCounter" doc:id="1dce6078-07cc-4658-873e-017830ac28f2" variableName="unsuccessfulCounter" />
						<ee:transform doc:name="Concat payloads" doc:id="ed9be086-ed40-4187-aef8-d9077b89fea2" >
							<ee:message />
							<ee:variables >
								<ee:set-variable variableName="finalMessage" ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</on-error-continue>
				</error-handler>
			</try>
				<ee:transform doc:name="Set numberOfUncuccessFulEntries" doc:id="a521f54c-faf1-4735-b022-71027dbfde40">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="numberOfUnsuccessfulEntries"><![CDATA[%dw 2.0
output application/json
---
if(vars.unsuccessfulCounter == 0)
	{
    STATUS:	"No Unsuccessful Entries"
	}
else
	{
	    STATUS:	"Unsuccessfully Inserted " ++ vars.unsuccessfulCounter ++  " " ++ "Entries"
	}]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<set-variable value="#[vars.counter + 1]" doc:name="Increment Counter varible" doc:id="ba550bda-1cec-47f1-8886-b477a77d133c" variableName="counter" />
			</foreach>
		<ee:transform doc:name="Return final payload" doc:id="522b59d8-1868-4168-82c3-2ad66fbee32d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage ++ vars.numberOfUnsuccessfulEntries
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cf4164bf-6c9d-409a-af9e-5fbaeb97dfcb" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="85102caf-f111-46f7-a16b-c4d8a4a3a035" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
