datareplication/src/main/mule/datareplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="datareplication.xapi" doc:id="5d00ae48-5379-4962-af5b-5e27afb0fa3b" >
		<scheduler doc:name="Scheduler" doc:id="418b04d8-2983-46b5-9e07-f484522b1d92" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set input_data" doc:id="b87f5bf9-9abb-49e1-aa9c-90b1d07ec05d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="datareplication.papi" doc:id="1b34ef40-9e7e-4080-aef5-3c7d015bcb17" name="datareplication.papi"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="8525fba3-d3e6-4425-8784-55be25d3dd73" >
				<ee:transform doc:name="Return error message" doc:id="49bbefa3-8e0c-4b44-856a-26c87ca4f00f" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Xapi Failed"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.papi" doc:id="96d05138-181b-4c2d-837c-ad62967c577b" >
		<ee:transform doc:name="Sort_data_via_country_code" doc:id="99c85c2a-e643-4f3b-ad07-a390ffc3e494" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="datareplication.sapi" doc:id="0633146b-a978-43a4-bbad-e1ff78fa8d48" name="datareplication.sapi"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b6d1e61c-80df-4439-8b51-77803d1de3b2" >
				<ee:transform doc:name="Return error message" doc:id="7fbfd2ef-c074-4c5b-ba64-97ec3941fee5" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Papi Failed"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.sapi" doc:id="9b8ed9b3-8435-4dcf-9e74-b32af91d06da" initialState="started">
		<foreach doc:name="For Each" doc:id="c43482f5-75c2-4dc5-bd53-d932e97d2ab9" collection="#[vars.inputData]">
			<choice doc:name="Choice" doc:id="f7ddece0-28c5-4b9a-b641-992a6dd5db42">
			<when expression='#[vars.inputData.case.country == "CAN"]'>
				<db:bulk-insert doc:name="Insert CAN Data" doc:id="3b130d33-a28b-4f86-9a9b-595bd28c170a">
					<db:bulk-input-parameters><![CDATA[{
	case: vars.inputData.case.country[flowVars.counter],
	userId: vars.inputData.case.userId[flowVars.counter],
	referenceNumber: vars.inputData.case.referenceNumber[flowVars.counter],
	favoriteAnimal: vars.inputData.case.favoriteAnimal[flowVars.counter]
	
}]]></db:bulk-input-parameters>
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
				</db:bulk-insert>
					<ee:transform doc:name="Return Success" doc:id="d9a91997-5165-40c8-86ac-3879593edb6c" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "CAN Data Successfully inserted"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
			</when>
			<when expression='#[vars.inputData.case.country == "AUS"]'>
				<db:insert doc:name="Insert AUS Data" doc:id="9e496c1f-a552-4944-9298-cdb8ce8b4a8f">
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
					<db:input-parameters><![CDATA[{
	case: vars.inputData.case.country[flowVars.counter],
	userId: vars.inputData.case.userId[flowVars.counter],
	referenceNumber: vars.inputData.case.referenceNumber[flowVars.counter],
	favoriteAnimal: vars.inputData.case.favoriteAnimal[flowVars.counter]
	
}]]></db:input-parameters>
				</db:insert>
					<ee:transform doc:name="Return Success" doc:id="a6700d91-4c5c-4e74-a869-dc0856f2a5da" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "AUS Data Successfully inserted"
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
			</when>
			<when expression='#[vars.inputData.case.country == "USA"]'>
				<db:bulk-insert doc:name="Insert USA Data" doc:id="d962ab18-bc62-4889-9b21-5c9e2975f9df">
					<db:bulk-input-parameters><![CDATA[{
	case: vars.inputData.case.country[flowVars.counter],
	userId: vars.inputData.case.userId[flowVars.counter],
	referenceNumber: vars.inputData.case.referenceNumber[flowVars.counter],
	favoriteAnimal: vars.inputData.case.favoriteAnimal[flowVars.counter]
	
}]]></db:bulk-input-parameters>
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
				</db:bulk-insert>
					<ee:transform doc:name="Return Success" doc:id="8c61926f-4f15-44db-b057-6e592db40746">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "USA Data Successfully inserted"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			</when>
				<otherwise>
					<ee:transform doc:name="Add unsuccessful inseration" doc:id="e379e031-44b0-42a9-9156-bd1c3ad18c70" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---

	"Unsuccessfully Inserted" 
]]></ee:set-payload>
						</ee:message>
					</ee:transform>
			</otherwise>
		</choice>
			<ee:transform doc:name="Concat payloads" doc:id="d939aaa6-b5d2-4ecb-b228-259988c96b6d" >
				<ee:message >
				</ee:message>
				<ee:variables >
					<ee:set-variable variableName="finalMessage" ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage ++ payload ]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		<ee:transform doc:name="Return final payload" doc:id="522b59d8-1868-4168-82c3-2ad66fbee32d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cf4164bf-6c9d-409a-af9e-5fbaeb97dfcb" >
				<ee:transform doc:name="Return Error Message" doc:id="8b84a02a-6359-4669-bf24-ffb6e77413d1" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
"Sapi Failed"
]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
