datareplication/target/classes/datareplication.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="datareplication.xapi" doc:id="5d00ae48-5379-4962-af5b-5e27afb0fa3b" >
		<scheduler doc:name="Scheduler" doc:id="418b04d8-2983-46b5-9e07-f484522b1d92" >
			<scheduling-strategy >
				<fixed-frequency frequency="1" timeUnit="DAYS"/>
			</scheduling-strategy>
		</scheduler>
		<ee:transform doc:name="Set input_data" doc:id="b87f5bf9-9abb-49e1-aa9c-90b1d07ec05d" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="inputData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="datareplication.papi" doc:id="1b34ef40-9e7e-4080-aef5-3c7d015bcb17" name="datareplication.papi"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="e59f5b0d-6ae4-4b49-866a-b57c97256308" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="69690d89-9e74-4fab-a809-1d09bf055ae2" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.papi" doc:id="96d05138-181b-4c2d-837c-ad62967c577b" >
		<flow-ref doc:name="datareplication.sapi" doc:id="ee6f21aa-779b-48b4-bfde-dd7404dcdb44" name="datareplication.sapi"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="b9d5a80e-298b-4216-b23f-140ccbc99273" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="0a6ce090-2bb3-4aee-a498-74f8f8085873" />
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="datareplication.sapi" doc:id="9b8ed9b3-8435-4dcf-9e74-b32af91d06da" initialState="started">
		<ee:transform doc:name="MULTI VARIBLE - Set finalMessage varible and Counter Varible" doc:id="aa5e5e7e-887f-4822-bdd9-f396e63e3788">
				<ee:message>
				</ee:message>
			<ee:variables >
				<ee:set-variable variableName="counter" ><![CDATA[%dw 2.0
output application/json
---
0]]></ee:set-variable>
				<ee:set-variable variableName="finalMessage" ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "STATUS OF INSERTIONS BELOW"
}]]></ee:set-variable>
			</ee:variables>
			</ee:transform>
		<foreach doc:name="For Each" doc:id="c43482f5-75c2-4dc5-bd53-d932e97d2ab9" collection='#[vars.inputData."case"]'>
			<choice doc:name="Choice" doc:id="f7ddece0-28c5-4b9a-b641-992a6dd5db42">
			<when expression='#[vars.inputData."case".country[vars.counter] == "CAN"]'>
					<db:bulk-insert doc:name="Insert CAN Data" doc:id="3b130d33-a28b-4f86-9a9b-595bd28c170a">
					<db:bulk-input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:bulk-input-parameters>
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
				</db:bulk-insert>
					<ee:transform doc:name="Return Success" doc:id="d9a91997-5165-40c8-86ac-3879593edb6c">
						<ee:message>
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "CAN Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
						</ee:variables>
					</ee:transform>
			</when>
			<when expression='#[vars.inputData."case".country[vars.counter]== "AUS"]'>
					<db:insert doc:name="Insert AUS Data" doc:id="9e496c1f-a552-4944-9298-cdb8ce8b4a8f">
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
					<db:input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:input-parameters>
				</db:insert>
					<ee:transform doc:name="Return Success" doc:id="a6700d91-4c5c-4e74-a869-dc0856f2a5da">
						<ee:message>
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "AUS Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
						</ee:message>
						<ee:variables >
						</ee:variables>
					</ee:transform>
			</when>
			<when expression='#[vars.inputData."case".country[vars.counter] == "USA"]'>
					<db:bulk-insert doc:name="Insert USA Data" doc:id="d962ab18-bc62-4889-9b21-5c9e2975f9df">
					<db:bulk-input-parameters><![CDATA[#[{
	"case": vars.inputData."case".country,
	userId: vars.inputData."case".userId,
	referenceNumber: vars.inputData."case".referenceNumber,
	favoriteAnimal: vars.inputData."case".favoriteAnimal
	
}]]]></db:bulk-input-parameters>
					<db:sql><![CDATA[INSERT INTO Case(country, userId, referenceNumber favoriteAnimal)
VALUES (:case, :userId, :referenceNumber :favoriteAnimal)]]></db:sql>
				</db:bulk-insert>
					<ee:transform doc:name="Return Success" doc:id="8c61926f-4f15-44db-b057-6e592db40746">
			<ee:message>
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	STATUS: "USA Data Entry " ++ vars.counter as String ++ " " ++ "Successfully inserted"
}]]></ee:set-payload>
			</ee:message>
						<ee:variables >
						</ee:variables>
		</ee:transform>
			</when>
				<otherwise>
					<ee:transform doc:name="Add unsuccessful inseration" doc:id="e379e031-44b0-42a9-9156-bd1c3ad18c70" >
						<ee:message >
							<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    STATUS:	"Unsuccessfully Inserted Entry " ++ vars.counter
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
			</otherwise>
		</choice>
			<ee:transform doc:name="Concat payloads" doc:id="d939aaa6-b5d2-4ecb-b228-259988c96b6d">
				<ee:message>
				</ee:message>
				<ee:variables>
					<ee:set-variable variableName="finalMessage"><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage as Object ++ payload]]></ee:set-variable>
				</ee:variables>
			</ee:transform>
			<set-variable value="#[vars.counter + 1]" doc:name="Increment Counter varible" doc:id="06434678-afc7-471e-b424-61b820043b6c" variableName="counter" />
		</foreach>
		<ee:transform doc:name="Return final payload" doc:id="522b59d8-1868-4168-82c3-2ad66fbee32d" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
vars.finalMessage
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="cf4164bf-6c9d-409a-af9e-5fbaeb97dfcb" >
				<set-payload value="#[error.description]" doc:name="Set Payload" doc:id="85102caf-f111-46f7-a16b-c4d8a4a3a035" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
